---
import BaseHead from "@components/BaseHead.astro";
import { Example } from "@components/menu/Example";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Example client:load />
    <slot />
  </body>
</html>
