---
import '@blocksuite/editor/themes/affine.css';
---


<div class="editor">

</div>

<script>
    import {SimpleAffineEditor} from '@blocksuite/editor'
    const container = document.querySelector('.editor')
    const editor = new SimpleAffineEditor();
    container?.appendChild(editor)
</script>

